<!DOCTYPE html>
<html>
<head>
	<title>Shopspsps</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/checkout.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='icons/gato.svg')}}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div id="header">
			<div id="filter">
				<button onclick="filtervisibility()"><img src="{{ url_for('static', filename='icons/filter.png')}}"></button>
			</div>

			<a id="logo" href="{{url_for('index')}}">
				<img src="{{ url_for('static', filename='icons/gato.png')}}">
				<p>Shopspsps</p>
			</a>
		</div>

		<div id="menu" class="open">
			<a id="cart" class="category category-selected" onclick="selected(this)">
				<img src="{{ url_for('static', filename='icons/cart.png')}}">
				<p>Compra</p>
			</a>

			<a id="user" class="category" onclick="selected(this)">
				<img src="{{ url_for('static', filename='icons/user.png')}}">
				<p>Usuário</p>
			</a>

			<a id="delivery" class="category" onclick="selected(this)">
				<img src="{{ url_for('static', filename='icons/truck.png')}}">
				<p>Entrega</p>
			</a>

			<a id="payment" class="category" onclick="selected(this)">
				<img src="{{ url_for('static', filename='icons/payment.png')}}">
				<p>Pagameto</p>
			</a>
		</div>

		<div id="items">
			<div id="cart" class="item visible">
				<h1>Carrinho</h1>
				<table id="cart-items">
					<thead>
						<th>ID</th>
						<th>Categoria</th>
						<th>Produto</th>
						<th>Valor</th>
						<th>Quantidade</th>
						<th>Total</th>
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>

				
			<form id="form-data" action="{{url_for('summary')}}" method='POST' onsubmit="summary()">
				<div id="user" class="item invisible">
					<h1>Dados do usuário</h1>

					<label>Nome completo<input type="text" name="name" id="name" required></label>

					<label>CPF<input type="tel" id="cpf" name="cpf" placeholder="Ex: 123.123.123-12" required></label>

					<label>E-mail<input type="email" id="email" name="email" autocomplete="on" required></label>

					<label>Data de nascimento (opcional)<input type="date" id="birthday" name="birthday"></label>
					
					<label>Telefone<input type="tel" name="phone" id="phone" placeholder="Ex: (12) 1234-1234" required></label>
				</div>

				<div id="delivery" class="item invisible">
					<h1>Dados de entrega</h1>
				
					<label>Endereço<input type="text" name="address" id="address" required></label>

					<label>Número<input type="text" name="number" id="number" required></label>

					<label>Complemento (opcional)<input type="text" name="complement" id="complement"></label>

					<label>Bairro<input type="text" name="district" id="district" required></label>

					<label>Cidade<input type="text" name="city" id="city" required></label>

					<label>Estado<input type="text" name="state" id="state" required></label>

					<label>CEP<input type="text" name="cep" id="cep" placeholder="Ex: 12345-123" required></label>

					<label>Tipo de entrega<input type="text" name="delivery-method" id="delivery-method" required list="delivery-methods" oninput='loadDeliveryInfo()'></label>
					<datalist id="delivery-methods">
						<option value="Transportadora"></option>
						<option value="Correios"></option>
						<option value="Retirar na loja"></option>
					</datalist>

					<p id="delivery-info" class="invisible">
						
					</p>
				</div>

				<div id="payment" class="item invisible">
					<h1>Dados de pagamento</h1>

					<label>Método<input type="text" name="payment-method" id="payment-method" required list="payment-methods" oninput='loadPaymentInfo()'></label>
					<datalist id="payment-methods">
						<option value="Dinheiro"></option>
						<option value="Cartão de crédito"></option>
						<option value="Cartão de débito"></option>
						<option value="Depósito"></option>
						<option value="Transferência"></option>
						<option value="Pix"></option>
					</datalist>

					<p id="payment-info" class="invisible">
					
					</p>
				</div>

				<button id='check' type="submit" form="form-data" value="submit" title="Preencha todos os campos obrigatórios do formulário.">
					<img src="{{ url_for('static', filename='icons/check.png')}}">
				</button>
			</form>
		</div>

		<div id="info" class="open">
			<p>Desenvolvido por: Álvaro, Giovanna e Marcelo.</p>
		</div>
		
	</div>
</body>
<script src="{{ url_for('static', filename='script/checkout.js')}}"></script>
</html>