<!DOCTYPE html>
<html>
<head>
	<title>Shopspsps</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='icons/gato.svg')}}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div id="header">
			<div id="filter">
				<button onclick="filtervisibility()"><img src="{{ url_for('static', filename='icons/filter.png')}}"></button>
			</div>

			<a id="logo" href="{{url_for('index')}}">
				<img src="{{ url_for('static', filename='icons/gato.png')}}">
				<p>Shopspsps</p>
			</a>

			<div id="search">
				<img src="{{ url_for('static', filename='icons/loupe.png')}}">
				<input id="input-search" type="text" placeholder="Pesquisar">
			</div>

			{% if result %}
				<p id="login-info">Olá, <strong>{{ result['name'] }}</strong>!</p>
			{% endif %}

			<a id="login" onclick="login()">
				<img src="{{ url_for('static', filename='icons/login.png')}}">
			</a>
		</div>

		<div id="menu" class="open">
			<a id="Ração" class="category" onclick="selected(this)">
				<img src="{{ url_for('static', filename='icons/animal.png')}}">
				<p>Ração</p>
			</a>

			<a id="Coleira" class="category" onclick="selected(this)">
				<img src="{{ url_for('static', filename='icons/collar.png')}}">
				<p>Coleira</p>
			</a>

			<a id="Brinquedo" class="category" onclick="selected(this)">
				<img src="{{ url_for('static', filename='icons/dog-ball.png')}}">
				<p>Brinquedo</p>
			</a>

			<a id="Higiene" class="category" onclick="selected(this)">
				<img src="{{ url_for('static', filename='icons/toilet-paper.png')}}">
				<p>Higiene</p>
			</a>

			<a id="Outros" class="category" onclick="selected(this)">
				<img src="{{ url_for('static', filename='icons/box.png')}}">
				<p>Outros</p>
			</a>
		</div>

		<div id="info" class="open">
			<p>Desenvolvido por: Álvaro, Giovanna e Marcelo.</p>
		</div>

		<div id="items">

		</div>

		<div id="login-div" class="invisible">
			<form id="form-user" id="form-data" method='POST'>
				<label>Nome completo<input type="text" name="name" id="name" required></label>

				<label>E-mail<input type="email" id="email" name="email" autocomplete="on" required></label>

				<label>Senha<input type="password" name="password" required></label>

				<label>CPF<input type="tel" id="cpf" name="cpf" placeholder="Ex: 123.123.123-12" required></label>

				<label>Data de nascimento (opcional)<input type="date" id="birthday" name="birthday"></label>
				
				<label>Sexo
					<fieldset>
						<label><input type="radio" name="gender" id="gender-f" value="f" required checked>Feminino</label>
						<label><input type="radio" name="gender" id="gender-m" value="m" required>Masculino</label>
					</fieldset>
				</label>

				<label>Telefone<input type="tel" name="phone" id="phone" placeholder="Ex: (12) 1234-1234" required></label>
			</form>

			<div id="form-buttons">
				<button id='check' type="submit" form="form-user" value="submit">
					<img src="{{ url_for('static', filename='icons/check.png')}}">
				</button>

				<button id='close-form' onclick="login()">
					<img src="{{ url_for('static', filename='icons/cancel.png')}}">
				</button>
			</div>
		</div>

		<a id="cart" onclick="checkout(carrinho)" href="{{url_for('checkout')}}">
			<p id="cont-cart">0</p>
			<img src="{{ url_for('static', filename='icons/cart.png')}}">
		</a>
	</div>
</body>
<script src="{{ url_for('static', filename='script/data.js')}}"></script>
<script src="{{ url_for('static', filename='script/index.js')}}"></script>
</html>