<!DOCTYPE html>
<html>
<head>
	<title>Shopspsps</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='icons/gato.svg')}}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div id="header">
			<div id="filter">
				<button onclick="filtervisibility()"><img src="{{ url_for('static', filename='icons/filter.png')}}"></button>
			</div>

			<a id="logo" href="{{url_for('index')}}">
				<img src="{{ url_for('static', filename='icons/gato.png')}}">
				<p>Shopspsps</p>
			</a>

			<div id="search">
				<img src="{{ url_for('static', filename='icons/loupe.png')}}">
				<input id="input-search" type="text" placeholder="Pesquisar">
			</div>

			<div id="user-login">
				{% if username %}
					<p id="login-info">Olá, <strong>{{ username }}</strong>!</p>
				{% endif %}

				{% if not username %}
					<a id="login" onclick="login()">
						<img src="{{ url_for('static', filename='icons/login.png')}}">
					</a>
				{% endif %}

				{% if username %}
					<a id="logout" href="{{url_for('logout')}}">
						<img src="{{ url_for('static', filename='icons/logout.png')}}">
					</a>
				{% endif %}
			</div>
		</div>

		<div id="menu" class="open">
			<div id="categories">
				<a id="Ração" class="category" onclick="selected(this)">
					<img src="{{ url_for('static', filename='icons/animal.png')}}">
					<p>Ração</p>
				</a>

				<a id="Coleira" class="category" onclick="selected(this)">
					<img src="{{ url_for('static', filename='icons/collar.png')}}">
					<p>Coleira</p>
				</a>

				<a id="Brinquedo" class="category" onclick="selected(this)">
					<img src="{{ url_for('static', filename='icons/dog-ball.png')}}">
					<p>Brinquedo</p>
				</a>

				<a id="Higiene" class="category" onclick="selected(this)">
					<img src="{{ url_for('static', filename='icons/toilet-paper.png')}}">
					<p>Higiene</p>
				</a>

				<a id="Outros" class="category" onclick="selected(this)">
					<img src="{{ url_for('static', filename='icons/box.png')}}">
					<p>Outros</p>
				</a>
			</div>

			<form id="price-filter" action="{{url_for('index')}}" method='POST' class="visible">
				<label>Ordenar por:</label>
				<input type="text" name="price-order" id="price-order" list="order" value="Categoria">
				<datalist id="order">
					<option value="Categoria">
					<option value="Menor preço">
					<option value="Maior preço">
				</datalist>

				<div class="tag-price">
					<label for="points">Preço mínimo: </label>
					<p id="p-min-price">R$0.0</p>
				</div>
				<input type="range" id="min-price" class="slider" name="min-price" value="0" min="0" max="50" step="0.5" oninput="setMax(this); setPrice(this)">

				<div class="tag-price">
					<label for="points">Preço máximo: </label>
					<p id="p-max-price">R$50.0</p>
				</div>
				<input type="range" id="max-price" class="slider" name="max-price" value="50" min="0" max="50" step="0.5" oninput="setMin(this); setPrice(this)">

				<button type="submit" form="price-filter" value="submit">Filtar</button>
			</form>
		</div>

		<div id="info" class="open">
			<p>Desenvolvido por: Álvaro, Giovanna e Marcelo.</p>
		</div>

		<div id="items">
			{% for product in products %}
				<div id="item-{{ product[0] }}" class="item visible">
					<p class="item-category">{{ product[2] }}</p>
					<img class="item-image" src="static/{{ product[4] }}">

					<div style="display: flex; flex-direction: row;">
						<h1 class="item-name">{{ product[1] }}</h1>
						<h1 class="item-price">R${{ product[3] }}</h1>
					</div>

					<p class="item-description">{{ product[5] }}</p>
					
					<div id="buttons">
						<a class="more" onclick="addproduct({{ product[0] }})"><img src="{{ url_for('static', filename='icons/more.png') }}"></a>

						<p id="cont-item-{{ product[0] }}">0</p>

						<a class="less" onclick="removeproduct({{ product[0] }})"><img src="{{ url_for('static', filename='icons/less.png') }}"></a>
					</div>
				</div>
			{% endfor %}
		</div>

		<div id="login-div" class="{{"visible" if error else "invisible"}}">
			<form id="form-user" id="form-data" action="{{url_for('login')}}" method='POST'>
				{% if error %}
				    <p id="login-info">{{ error }}</p>
				{% endif %}
				
				<label>E-mail<input type="email" id="email" name="email" autocomplete="on" required></label>

				<label>Senha<input type="password" name="password" required></label>

				<h3>Não é cadastrado? <a id="register-link" onclick="signUp()">Cadastre-se</a>!</h3>

				<div id="register-div"></div>
			</form>

			<div id="form-buttons">
				<button id='check' type="submit" form="form-user" value="submit">
					<img src="{{ url_for('static', filename='icons/check.png')}}">
				</button>

				<button id='close-form' onclick="login()">
					<img src="{{ url_for('static', filename='icons/cancel.png')}}">
				</button>
			</div>
		</div>

		<a id="cart" onclick="checkout(carrinho)" href="{{url_for('checkout')}}">
			<p id="cont-cart">0</p>
			<img src="{{ url_for('static', filename='icons/cart.png')}}">
		</a>
	</div>
</body>
<script src="{{ url_for('static', filename='script/index.js')}}"></script>
</html>